<%-include("partials/header")%> 
<h1>Welcome to the Landing Page</h1>

<h3>This is the Star Camping site</h3>

<a href="/campgrounds">View the Campsites</a>

<a href="/campgrounds/new">Add a new Campsite</a>
<%-include("partials/footer")%> 